<h1>Esta es la pagina de editar</h1>

<% if @todo.errors.any? %>

    <h2>Falto un campo por llenar</h2>
    <ul>
        <% @todo.errors.full_messages.each do |msg| %>
    	<li><%= msg %></li>
    	<%end%>
    </ul>

<%end%>

<%= form_for @todo do |f| %>

		<p>
         <%= f.label :name%> <br>
         <%= f.text_field :name%>
		</p>

		<p>
         <%= f.label :phone%> <br>
         <%= f.text_field :phone%>
		</p>

		<p>
          <%= f.submit%>
		</p>

<%end%>